*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.item-container {
    display: grid;
    place-items: center;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
}

.wrapper {
    padding-top: 2rem;
    padding-inline: 2rem !important; /*to offset Bootstrap styling*/
    max-width: 1100px !important; /*to offset Bootstrap styling*/
    display: flex;
    flex-direction: column;
    margin-inline: auto;
}

.one-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.one-line .full {
    width: 100%;
}

.form-flex {
    display: flex;
    align-items: flex-end;
}

.start {
    justify-content: flex-start;
}
.error-text {
    position: absolute;
    color: red;
}

.hover-shadow:hover {
    box-shadow: 3px 3px 5px 0 #0275d8;
    transform: scale(1.03);
}